<div class="widget">

  <div ngbDropdown class="d-inline-block" #item *ngIf="!hasWidget">
    <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Select Widget</button>
    <div ngbDropdownMenu aria-labelledby="dropdown1">
      <button ngbDropdownItem>No Widget</button>
      <button ngbDropdownItem (click)="item.remove();updateSelectedChart()">Chart</button>
    </div>
  </div>

  <span *ngIf="selected==='chart'">
    <app-chart-account-history></app-chart-account-history>
  </span>

</div>
