fa-icon, .icon-styling {
  color: azure;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 260px !important;
}

.btn-group {
  min-width: 220px !important;
}

.right-aligned {
  float:right;
}

.left-aligned {
  float:left;
}

//.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
//  color: #007bff;
//  background-color:rgba(100, 100, 100, 0.15);
//}

#dropdown-elements button:not(:disabled):hover {
  cursor: pointer;
  color: #007bff!important;
  background-color:rgba(100, 100, 100, 0.15)!important;
}
