<div class="px-5">
  <form>
    <div class="form-group form-inline">
      Volltextsuche:
      <label>
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
      </label>
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="type" (sort)="onSort($event)">Art</th>
        <th scope="col" sortable="recipientName" (sort)="onSort($event)">Empfängername</th>
        <th scope="col" sortable="recipientIban" (sort)="onSort($event)">Empfänger Iban</th>
        <th scope="col" sortable="senderIban" (sort)="onSort($event)">Sender Iban</th>
        <th scope="col" sortable="senderIban" (sort)="onSort($event)">Auftragsstatus</th>
        <th scope="col" sortable="timestamp" (sort)="onSort($event)">Betrag</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="transaction.type" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + 'b/ba/Flag_of_Germany.svg'" class="mr-2"
               style="width: 20px" alt="flag germany">
          <ngb-highlight [result]="transaction.recipientName" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="transaction.recipientIban" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="transaction.senderIban" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="transaction.timestamp" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="transaction.amount | number" [term]="service.searchTerm"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <label>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
          <option [ngValue]="10">10 Aufträge pro Seite</option>
          <option [ngValue]="15">15 Aufträge pro Seite</option>
          <option [ngValue]="20">20 Aufträge pro Seite</option>
        </select>
      </label>
    </div>
  </form>
</div>


