<app-sub-navbar></app-sub-navbar>
<div class="container col-xl-7 my-4">
  <app-accounts-dropdown-lg [(currAcc)]="account" [accounts]="accounts"></app-accounts-dropdown-lg>
</div>
<div class="container col-xl-7">
  <h3 class="row my-3 col-xl-7">Neue Überweisung</h3>
  <form [formGroup]="transactionForm" (ngSubmit)="sendTransaction('POST', successContent)">
    <div class="row">
      <label for="amount" class="col-sm-3 col-form-label">Betrag <span class="blue">*</span></label>
      <div class="col-sm-6 ">
        <input formControlName="amount"
               type="number"
               class="form-control"
               id="amount"
               placeholder="Betrag"
               required
               pattern="[0-9]*.[0-9]{0,2}"
        >
        <small class="form-text text-danger"
               *ngIf="transaction.amount.errors && transactionForm.controls['amount']?.touched || transaction.amount.value === 0">Bitte
          geben Sie einen gültigen Betrag an.<br/>
        </small>
      </div>
    </div>
    <div class="row my-3 ">
      <legend for="type" class="col-form-label col-sm-3 pt-0">Durchführungsart
      </legend>
      <div class="col-sm-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input active" type="radio" formControlName="type" id="Standard"
                 value="">
          <label class="form-check-label" for="Standard">Standard</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="type" id="Eilauftrag"
                 value="Eilauftrag">
          <label class="form-check-label" for="Eilauftrag">eilig</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="type" id="Eigenuebertragung"
                 value="Eigenuebertragung">
          <label class="form-check-label" for="Eigenuebertragung">Eigenübertragung</label>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <label for="complementaryName" class="col-sm-3 col-form-label">Empfänger</label>
      <div class="col-sm-6 ">
        <input formControlName="complementaryName"
               type="text"
               class="form-control"
               id="complementaryName"
               placeholder="Empfänger"
        >
      </div>
    </div>
    <div class="row my-3">
      <label for="complementaryIban" class="col-sm-3 col-form-label">IBAN/Kontonummer <span
        class="blue">*</span></label>
      <div class="col-sm-6 ">
        <input formControlName="complementaryIban"
               type="text"
               class="form-control"
               id="complementaryIban"
               placeholder="IBAN/Kontonummer"
               required
        >
      </div>
    </div>
    <div class="row my-3">
      <label class="col-sm-3 col-form-label">Datum <span class="blue">*</span></label>
      <div class="col-sm-6">
        <input
          formControlName="timestamp"
          type="date"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="date"
          ngbDatepicker
          required
          [minDate]="minDate"
        >
        <small class="form-text text-danger" *ngIf="transaction.timestamp.errors">Bitte geben Sie ein gültiges Datum an.
          <br/></small>
      </div>
    </div>
    <div class="btn-group btn-group-toggle btn-block col-sm-6 px-lg-2" id="button-group" data-toggle="buttons"
         ngbRadioGroup
         name="radioBasic"
         formControlName="textType">
      <label ngbButtonLabel class="  btn-outline-primary active">
        <input
          ngbButton
          type="radio"
          checked
          value="Zahlungsreferenz"
          (click)="onChangeTextType(1); setPaymentUsageContent(false)">
        Zahlungsreferenz
      </label>
      <label ngbButtonLabel class=" btn-outline-primary">
        <input
          ngbButton
          type="radio"
          value="Verwendungszweck"
          (click)="onChangeTextType(4); setPaymentUsageContent(true)">
        Verwendungszweck
      </label>
    </div>
    <div class="my-3">
      <div *ngFor="let text of transactionArray.controls; let i = index">
        <div [formGroup]="text" class="row">
          <div class="form-group col-sm-6" id="text-group">
            <input
              formControlName="text"
              type="text"
              placeholder="1 x 35 Zeichen"
              class="form-control"
              maxlength="35"/>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-right">
      <button type="submit"
              [disabled]="transactionForm.invalid || transaction.amount.value === 0"
              class="btn btn-primary mr-1"
      >Senden
      </button>
      <button type="button"
              [disabled]="transactionForm.invalid || transaction.amount.value === 0"
              class="btn btn-primary mr-1"
              (click)="storeTransaction('PUT', successContent)">Speichern
      </button>
      <button class="btn btn-secondary" (click)="onClear()">Zurücksetzen</button>
    </div>


    <ng-template #successContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Transaktionsstatus</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); success=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #successForm="ngForm" novalidate id="successForm">
        <div class="modal-body">
          <div *ngIf="success">
          Transaktion wurde erfolgreich {{httpType === 'PUT' ? 'gespeichert' : 'gesendet' }}.
          </div>
          <div *ngIf="!success">
            Transaktion wurde nicht {{httpType === 'PUT' ? 'gespeichert' : 'gesendet' }}.
          </div>
          <div class="modal-footer"></div>
        </div>
      </form>
    </ng-template>


  </form>
</div>

<div class="container col-xl-7 my-3">
  <h4 class="row my-3 col-xl-7">Erfasste Aufträge</h4>
  <div class="shadow pb-5 pt-3">

    <form [formGroup]="savedTransactionsForm" (ngSubmit)="openVerticallyCentered(content)" novalidate>
      <div class="pb-3" *ngFor="let iban of userdata.accounts">
        <p class="mx-3">
          <strong>
            {{ iban }}
            <span class="right-aligned"> Summe markierter Aufträge: {{ getMoneyPerIban(iban) }} € </span>
          </strong>
        </p>
        <table class="table table-bordered table-hover table-sm">
          <thead>
          <tr class="bg-primary text-white">
            <th scope="col" class="col-xl-1 col-1"></th>
            <th scope="col">Empfänger</th>
            <th scope="col">Verwendungszweck</th>
            <th scope="col">Ausführung</th>
            <th scope="col">Betrag</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trans of savedTransactions; let i=index">
            <td class="text-center" *ngIf="iban === trans.iban">
              <label>
                <input type="checkbox" [checked]="checked" [value]="trans" (change)="onCheckboxChange(trans, false, $event)"/>
              </label>
            </td>
            <td *ngIf="iban === trans.iban"> {{ trans.complementaryName }} <br> {{ trans.complementaryIban }} </td>
            <td
              *ngIf="iban === trans.iban"> {{ (trans.text.length > 50) ? (trans.text | slice:0:50) + '..' : (trans.text) }} </td>
            <td *ngIf="iban === trans.iban"> {{ trans.timestamp | date: 'dd.MM yyyy' }} </td>
            <td *ngIf="iban === trans.iban"> {{ trans.amount }} €</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="mx-3">
        <button class="btn btn-outline-secondary btn-sm mr-1" type="button" (click)="setChecked(true)">Alle wählen </button>
        <button class="btn btn-outline-secondary btn-sm mr-1" type="button"  (click)="setChecked(false)">Alle abwählen </button>
        <div class="right-aligned">
          <strong>
            <span> Summe aller markierten Aufträge: {{ allMarked() }} € </span>
          </strong>
        </div>
      </div>
      <div class="mx-3 pt-3">
        <button class="btn btn-primary mr-1" type="submit">Markierte Aufträge senden</button>
        <button class="btn btn-secondary" type="reset" (click)="deleteSavedTrans()">Markierte Aufträge löschen</button>
        <strong>
          <span class="right-aligned"> Saldo: {{ account.balance - allMarked() }} € </span>
        </strong>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Geben Sie den TAN ein</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #sendForm="ngForm" novalidate id="sendTransForm">
          <div class="modal-body">
            <input
              ngModel
              type="text"
              placeholder="4-stelligen TAN eingeben"
              class="form-control"
              name="tan"
              minlength="4"
              maxlength="4"
              pattern="[0-9]*"
              required/>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="sendForm.invalid"
                    (click)="modal.close('Close click'); sendSavedTrans();">Jetzt durchführen
            </button>
            <button type="button" class="btn btn-light mr-1" (click)="modal.close('Close click')">Abbrechen</button>
          </div>
        </form>
      </ng-template>

    </form>
  </div>
</div>


