<app-sub-navbar></app-sub-navbar>
<div class="container col-xl-7 ">
  <app-accounts-dropdown></app-accounts-dropdown>
</div>
<div class="container col-xl-7">
  <h3 class="row my-3 col-xl-7">Neue Überweisung</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <label for="amount" class="col-sm-3 col-form-label">Betrag <span class="blue">*</span></label>
      <div class="col-sm-6 ">
        <input formControlName="amount"
               type="number"
               class="form-control"
               id="amount"

        >
      </div>
    </div>
    <div class="row my-3 ">
      <legend for="transactionType" class="col-form-label col-sm-3 pt-0">Durchführungsart
      </legend>
      <div class="col-sm-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input active" type="radio" formControlName="transactionType" id="Standard"
                 value="Standard">
          <label class="form-check-label" for="Standard">Standard</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="transactionType" id="Eilauftrag"
                 value="Eilauftrag">
          <label class="form-check-label" for="Eilauftrag">eilig</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="transactionType" id="instant-payment" value="">
          <label class="form-check-label" for="instant-payment">Instant Payment</label>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <label for="recepientName" class="col-sm-3 col-form-label">Empfänger</label>
      <div class="col-sm-6 ">
        <input formControlName="recepientName"
               type="text"
               class="form-control"
               id="recepientName"
               placeholder="Empfänger"
        >
      </div>
    </div>
    <div class="row my-3">
      <label for="iban" class="col-sm-3 col-form-label">IBAN/Kontonummer <span class="blue">*</span></label>
      <div class="col-sm-6 ">
        <input formControlName="iban"
               type="text"
               class="form-control"
               id="iban"
               placeholder="IBAN/Kontonummer"
        >
      </div>
    </div>
    <div class="row my-3">
      <label for="bic" class="col-sm-3 col-form-label">BIC/BLZ</label>
      <div class="col-sm-6 ">
        <input formControlName="bic"
               type="text"
               class="form-control"
               id="bic"
               placeholder="BIC nicht erforderlich"

        >
      </div>
    </div>
    <div class="row my-3">
      <label class="col-sm-3 col-form-label">Datum <span class="blue">*</span></label>
      <div class="col-sm-6">
        <input
          formControlName="date"
          type="date"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="date" ngbDatepicker>
      </div>
    </div>
    <div class="btn-group btn-group-toggle btn-block col-sm-6 px-lg-2" id="button-group" data-toggle="buttons"
         ngbRadioGroup
         name="radioBasic"
         formControlName="transactionTextType">
      <label ngbButtonLabel class="  btn-outline-primary active">
        <input
          ngbButton
          type="radio"
          checked
          value="Zahlungsreferenz"
          (click)="onChangeTransactionTextType(1); setPaymentUsageContent(false)">
        Zahlungsreferenz
      </label>
      <label ngbButtonLabel class=" btn-outline-primary">
        <input
          ngbButton
          type="radio"
          value="Verwendungszweck"
          (click)="onChangeTransactionTextType(4); setPaymentUsageContent(true)">
        Verwendungszweck
      </label>
    </div>
    <div class="my-3">
      <div *ngFor="let text of t.controls; let i = index">
        <div [formGroup]="text" class="row">
          <div class="form-group col-sm-6" id="text-group">
            <input
              formControlName="text"
              type="text"
              placeholder="1 x 35 Zeichen"
              class="form-control"
              maxlength="35"/>
          </div>
        </div>
      </div>
    </div>


    <div class="container text-right">
      <button type="submit " [disabled]="form.invalid" class="btn btn-primary mr-1">Senden</button>
      <button class="btn btn-secondary " type="reset" (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
