<div class="container">

  <h4 class="justify-content-center text-center py-3 font-weight-normal">
    Transaktionen
  </h4>

  <app-accounts-dropdown (currAcc)="getAccount($event)"></app-accounts-dropdown>

  <div class="text-center py-4">
    <ul class="list-group list-group-flush" *ngFor="let trans of transactions; let i = index">
      <li class="list-group-item"  *ngIf="i < 4">
        <div>
          <span class="left-aligned"> {{ trans.timestamp }} </span>
          <span class="right-aligned" [ngClass]=checkBalance(trans.amount)>
            {{ trans.amount }} €
          </span>
        </div>
      </li>
    </ul>
  </div>

</div>
