<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-md-2.7"
     *ngIf="authService.isLoggedIn()"
     (clickOutside)="onClickedOutside($event)">
  <a class="navbar-brand" routerLink="/user">LOGOBANK</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!collapsed"
          (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText" [class.collapse]="collapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0  mx-md-auto order-1 order-md-2">
      <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/user">Startseite</a>
      </li>
      <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/transaction/overview">Finanzen</a>
      </li>
      <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/transfer_orders">Auftragsübersicht</a>
      </li>
      <li class="nav-item" ngbDropdown [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/profile">Profil</a>
      </li>
      <li class="nav-item" ngbDropdown *ngIf="mobile">
        <button type="button" class="btn btn-light" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>

<!--  <mat-slide-toggle class="mr-3" (click)="switchTheme()">-->
<!--    <mat-icon>dark_mode</mat-icon>-->
<!--  </mat-slide-toggle>-->

  <div class="col-lg-1 col-md-1 d-none d-xl-block d-lg-block text-right">
    <button type="button" class="btn btn-light" (click)="onLogout()">Logout</button>
  </div>
</nav>
