<div class="container pt-4">

  <h3 class="pb-4 font-weight-normal">
    Profil
  </h3>

  <div class="btn-group-vertical" id="btn_menu">
    <button type="button" class="btn btn-primary mb-1" (click)="updateSelected('pdata')">Persönliche Daten</button>
    <button type="button" class="btn btn-primary mb-1" (click)="updateSelected('news')">Neuigkeiten</button>
    <button type="button" class="btn btn-primary mb-1" (click)="updateSelected('cards')">Karten</button>
    <button type="button" class="btn btn-primary mb-1" (click)="updateSelected('config')">Konfiguration</button>
    <button type="button" class="btn btn-primary mb-1" (click)="updateSelected('contact')">Kontakt</button>
  </div>

  <div class="card profileitem" *ngIf="selected==='pdata'">
    <div class="card-body d-flex p-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Carlos_Botelho%2C_December_1968.jpg" class="rounded-circle float-left" id="profilepicture" alt="profile picture">
      <table class="table table-borderless">
        <tbody>
        <tr>
          <td class="font-weight-bold">
            Name:
          </td>
          <td>
            {{ userdata.firstName }}
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">
            Nachname:
          </td>
          <td>
            {{ userdata.lastName }}
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">
            E-Mail:
          </td>
          <td>
            <a href="mailto:testmail@provider.com">
              testmail@provider.com
            </a>
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">
            Telefonnummer:
          </td>
          <td>
            <a href="tel:+43-123-4567891">
              +43 123 4567891
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center text-muted">
      Letzter Login am {{ userdata.lastLogin | date:'medium' }}
    </div>
  </div>

  <div class="text-center profileitem" *ngIf="selected==='news'">
    <div class="card mb-3" *ngFor="let newsitem of news">
      <div class="card-header">
        News
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ newsitem.newstitle }}
        </h5>
        <p class="card-text">
          {{ newsitem.newsbody }}
        </p>
        <a href="{{ newsitem.link }}" class="btn btn-primary">Erfahren Sie mehr</a>
      </div>
      <div class="card-footer text-muted">
        Datum der Veröffentlichung {{ newsitem.date }}
      </div>
    </div>
  </div>

  <div class="card-deck profileitem" *ngIf="selected==='cards'">
    <div class="card align-items-center" *ngFor="let card of cards">
      <div class="card-header w-100 text-center">
        {{ card.ctype }}karte
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">
          {{ card.cardnr }}
        </h5>
        <table class="table table-borderless">
          <tbody>
          <tr>
            <td class="font-weight-bold">
              Kartenlimit:
            </td>
            <td>
              {{ card.limit }}€
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">
              Verfügbar:
            </td>
            <td>
              {{ card.available }}€
            </td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-danger mr-2">{{ card.ctype }}karte sperren</button>
        <button type="button" class="btn btn-warning">PIN anfordern</button>
      </div>
      <div class="card-footer w-100"></div>
    </div>
  </div>

  <div class="text-center profileitem" *ngIf="selected==='config'">
    <div class="card">
      <div class="card-header text-center">
        Konfiguration
      </div>
      <div class="card-body">
        <table class="table table-borderless w-100">
          <tbody>
          <tr>
            <td class="font-weight-bold">
              E-Mail ändern
            </td>
            <td>
              <button class="btn btn-primary">Ändern</button>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">
              Passwort ändern
            </td>
            <td>
              <button class="btn btn-primary">Ändern</button>
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">
              Telefonnummer ändern
            </td>
            <td>
              <button class="btn btn-primary">Ändern</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>

  <div class="card-deck profileitem" *ngIf="selected==='contact'">
    <div class="card align-items-center">
      <div class="card-header text-center card-title w-100">
        Kontakt
      </div>
      <div class="card-body text-center">
        <h5 class="mb-3">Öffnungszeiten</h5>
        <table class="table table-borderless w-100">
          <tbody>
          <tr>
            <td class="font-weight-bold">
              Mo-Fr:
            </td>
            <td>
              8:00 - 16:00 Uhr
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">
              Sa:
            </td>
            <td>
              8:00 - 12:00 Uhr
            </td>
          </tr>
          </tbody>
        </table>
        <p class="font-weight-bold">Geschlossen an Feier- und Sonntagen</p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">Termin</div>
      <div class="card-body align-content-center">
        <ngb-datepicker
          [minDate]="{year: today.getFullYear(), month: today.getMonth() + 1, day: today.getDate()}"
          [maxDate]="{year: maxDate.getFullYear(), month: maxDate.getMonth() + 1, day: maxDate.getDate()}"
          [markDisabled]="disabled"></ngb-datepicker>
        <ngb-timepicker
          [(ngModel)]="time"
          [hourStep]="1"
          [minuteStep]="10"
          [formControl]="ctrl"></ngb-timepicker>
        <div *ngIf="ctrl.errors" class="small form-text text-danger">
          <div *ngIf="ctrl.errors['outside']">Ihr Wunschtermin liegt außerhalb unserer Öffnungszeiten!</div>
        </div>
        <button type="button" class="btn btn-primary mt-4" (click)="makeAppointment()">Termin vereinbaren</button>
      </div>
    </div>
  </div>

</div>
