#btn_menu {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.profileitem {
  float: right;
  width: 75%;
  margin-bottom: 20px;
}

#profilepicture {
  width: 30%;
  margin-right: 5%;
}

table {
  width: 50%;
}
